.par-status {
  margin: auto;
  width: 1.5em;
  border: 1px solid;
  text-align: center;
  line-height: 150%;

  &.belowPar {
    border-radius: 50%;
    border-color: #04B45F;
  }

  &.atPar {
    border-color: transparent;
  }

  &.abovePar {
    border-color: #FA5858;
  }
}
