table#round {
  tbody, tfoot {
    tr { background-color: #ffffff; }
    tr:nth-child(odd) { background-color: #f9f9f9; }
  }
  thead {
    background-color: #ffffff;
    th {
      border-top: 0px;
      border-bottom: 0px;
    }
  }
  tr {
    text-align: center;
    line-height: 200%;
    font-size: 16px;
  }
}

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #ffffff;
  font-size: 16px;
  th {
    border-top: 0px !important;
    border-bottom: 0px !important;
  }
}
