<h3 class="visible-xs text-center">
  Photos
</h3>
<div class="text-center">
  {{#if hasImage}}
    {{#each image in images}}
      <div class='row'>
        <img {{bind-attr src="image.url"}} />
        <p>{{display-date image.takenAt}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>
      No photos currently available!
    </p>
  {{/if}}
</div>
