<h3 class="visible-xs text-center">
  Photos
</h3>
<div class="text-center">
  {{#if hasPhoto}}
    {{#each photo in photos}}
      <div class='row'>
        <img src={{photo.url}} class="img-thumbnail" />
        <p>{{display-date photo.takenAt}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>
      No photos currently available!
    </p>
  {{/if}}
</div>
