<div class='well'>
  <header class='text-center'>
    <h3>{{courseName}}</h3>
    <h5>{{display-date createdAt}}</h5>
  </header>
</div>

{{scorecards-table scorecards=scorecards holeNumbers=holeNumbers}}
