<h2 class='text-center'>Settings</h2>

<div class="form-group">
  <div class="row">
    <div class="col-md-12 form-group">
      {{auto-complete id="players" model=potentialPlayers selection=selectedPlayer value=query displayKey="fullName"}}
    </div>
  </div>
</div>
<button {{action "addPlayer"}} {{bind-attr class=":btn :btn-block :btn-lg :btn-primary noPlayerSelected:disabled"}}>
  Add a Player!
</button>
