<h2 class="text-center">
  Password Reset
</h2>
{{#if showResetSuccess}}
  <p>
    An email has been sent with instructions on how to reset your password.
  </p>
{{/if}}
{{#if showResetFailure}}
  <p>
    We're sorry, something went wrong. Make sure your email is correct.
  </p>
{{/if}}
<form {{action "reset" on="submit"}}>
  <div class="form-group">
    <label for="email">
      * Email
    </label>
    {{input value=email type="text" id="email" required=true classNames="form-control"}}
  </div>
  <button type="submit" class="btn btn-block btn-lg btn-primary">
    Send Reset Email
  </button>
</form>