<div class="nav nav-pills nav-justified">
  {{#link-to "courseStatLog" tagName="li" classNames="u-pointer"}}
    <a>
      <span>
        Overall
      </span>
    </a>
  {{/link-to}}
  {{#link-to "holeStatLogs" tagName="li" classNames="u-pointer"}}
    <a>
      <span>
        Holes
      </span>
    </a>
  {{/link-to}}
</div>

<div class="push-down"></div>

<table id="hole-stats" class="table table-striped">
  <thead>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        Average Strokes
      </th>
      <th>
        Average Score
      </th>
      <th>
        Difficulty
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |hole|}}
      <tr>
        <td>
          <strong>{{hole.number}}</strong>
        </td>
        <td>
          {{hole.displayAverageStrokes}}
        </td>
        <td>
          {{display-score hole.displayAverageScore}}
        </td>
        <td>
          {{hole.displayRanking}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
