<div class="jumbotron">
  <header class="text-center row">
    <h1 class="navy-blue">Welcome to <span id="welcome-title">Frolfr</span></h1>
    <div class="hidden-xs">
      <h4>"Frolf, Jerry! Frisbee golf!"</h4>
      <h6>- George Costanza</h6>
    </div>
  </header>
</div>

<div class="row block-grid-xs-3">
  <div class="block-grid-item text-center">
    <div class="visible-xs">
      <i class="fa fa-area-chart fa-3x navy-blue"></i>
      <p class="font-size-12">Track your scorecards</p>
    </div>
    <div class="hidden-xs">
      <i class="fa fa-area-chart fa-5x navy-blue"></i>
      <hr />
      <p>With Frolfr, you can track scorecards and view your improvements</p>
    </div>
  </div>

  <div class="block-grid-item text-center">
    <div class="visible-xs">
      <i class="fa fa-flag-o fa-3x navy-blue"></i>
      <p class="font-size-12">Review course stats and photos</p>
    </div>
    <div class="hidden-xs">
      <i class="fa fa-flag-o fa-5x navy-blue"></i>
      <hr />
      <p>Keep track of course photos, leaderboards, hole-by-hole stats</p>
    </div>
  </div>

  <div class="block-grid-item text-center">
    <div class="visible-xs">
      <i class="fa fa-heart fa-3x navy-blue"></i>
      <p class="font-size-12">Follow and play with friends</p>
    </div>
    <div class="hidden-xs">
      <i class="fa fa-heart fa-5x navy-blue"></i>
      <hr />
      <p>Meet new disc golfers and compete with your friends</p>
    </div>
  </div>
</div>

<div class="row block-grid-xs-2">
  <div class='block-grid-item'>
    {{link-to "Log In" "sessions" classNames="btn btn-block btn-primary btn-lg"}}
  </div>
  <div class='block-grid-item'>
    {{link-to "Sign Up" "users.new" classNames="btn btn-block btn-primary btn-lg"}}
  </div>
</div>
