{{#if model}}
  <h3 class="text-center visible-xs">
    Rounds Played Together
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Course Name
        </th>
        <th>
          Date Played
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |round|}}
        {{#link-to "round" round.id tagName="tr" classNames="u-pointer"}}
          <td>
            {{round.courseName}}
          </td>
          <td>
            {{display-date round.createdAt}}
          </td>
          <td>
            <i class="fa fa-chevron-right"></i>
          </td>
        {{/link-to}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>
    You two haven't played any rounds together! Get discin'!
  </p>
{{/if}}
