<h3 class="visible-xs text-center">
  Leaderboard
</h3>
<table id="rounds" class="table table-striped">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        Player
      </th>
      <th>
        Date Played
      </th>
      <th>
        Score
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each filtered}}
      <tr>
        <td>
          {{ranking-from-index _view.contentIndex}}
        </td>
        <td>
          {{userFullName}}
        </td>
        <td>
          {{display-date createdAt}}
        </td>
        <td>
          {{formattedTotals}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
