<h2 class='text-center'>Profile</h2>

<div class="nav nav-pills nav-justified">
  {{#link-to "profileStatLog" tagName="li" classNames="u-pointer"}}
    <a>
      <span class="hidden-xs">
        Stats
      </span>
      <i class="fa fa-bar-chart visible-xs">
      </i>
    </a>
  {{/link-to}}
  {{#link-to "profile.settings" tagName="li" classNames="u-pointer"}}
    <a>
      <span class="hidden-xs">
        Settings
      </span>
      <i class="fa fa-gear visible-xs">
      </i>
    </a>
  {{/link-to}}
</div>
{{outlet}}
