<h2 class="text-center">Welcome to <span id="welcome-title">Frolfr</span></h2>

<div class="text-center row">
  <a href="https://www.youtube.com/watch?v=W_7iFIC2xWg" target="_blank">
    <img src="http://res.cloudinary.com/frolfr/image/upload/v1429070954/jerry_sxgr21.jpg" class="img-thumbnail">
  </a>
</div>

<div class="push-down"></div>

<div class="container">
  <p>Thanks for signing up for Frolfr, <span class="icon-red">{{currentUser.fullName}}</span>! While you're here, you might want to:</p>

  <ol>
    <li>
      Go to the {{#link-to 'friends'}}<strong>friends</strong> page{{/link-to}} and add a few pals
    </li>
    <li>
      Feel free to update your personal avatar over at the {{#link-to 'profile.settings'}}<strong>profile</strong> page{{/link-to}}
    </li>
    <li>
      And when you're ready to get out and disc, go ahead and {{#link-to 'rounds.new'}}create a new <strong>round</strong>{{/link-to}} to keep track of your scores
    </li>
  </ol>

  <p>Happy discin'!</p>
  <p><strong>The Frolfr Team</strong></p>
</div>
